body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

textarea {
  min-height: 200px;
  min-width: 50%;
}

.functionality--list { list-style-type: none; }

.status {
  display: block;
  margin: 0 auto;
  width: 80px;
}
.status.passing { background-color: green; }
.status.failing { background-color: red; }
